@charset "UFT-8";

/*
#
#
#
#
#
*/

:root{
    --cor00: hsl(203, 100%, 95%);
    --cor0: #F2ECCE;
    --cor1: #50ABBF;
    --cor2: #3F9BBF;
    --cor3: #1B65A6;
    --cor4: #033473;
    
}

body{
    font-family:Arial, Helvetica, sans-serif ;
}


h1{ font-family:Arial, Helvetica, sans-serif ;
    color: var(--cor3);
}

h2{font-family:Arial, Helvetica, sans-serif ;
    color: var(--cor3);
}

h3{
    color: var(--cor3);
}