@charset "UFT-8";

/*
#
#
#
#
#
*/

:root{
    --cor0: #F2ECCE;
    --cor1: #50ABBF;
    --cor2: #3F9BBF;
    --cor3: #1B65A6;
    --cor4: #033473;
}

body {
    background-color:var(--cor0);
}

h1{
    color: var(--cor3);
}

h2{
    color: var(--cor3);
}

h3{
    color: var(--cor3);
}