@charset "UFT-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

div{
    text-align: center;
}

:root{
    --cor00: hsl(203, 100%, 95%);
    --cor0: #F2ECCE;
    --cor1: #50ABBF;
    --cor2: #3F9BBF;
    --cor3: #1B65A6;
    --cor4: #033473;
    
}

body{
    background-color: #021e3f;
}

main{
    background-color: white;
    margin: auto;
    width: 1100px;
    padding: 20px;
    border-radius: 10px;
}

h1{ 
    color: #14375f;
   
}

h2{
    color: #14375f;
}

h3{
    color: #14375f;
}

p{
    color:#14375f;
}
