@charset "UFT-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

div{
    text-align: center;
}

:root{
    --cor00: hsl(203, 100%, 95%);
    --cor0: #F2ECCE;
    --cor1: #50ABBF;
    --cor2: #3F9BBF;
    --cor3: #1B65A6;
    --cor4: hsl(214, 95%, 23%);
    --cor5: #021e3f
    
}

/* fundo */
body{
    background-color:rgba(7, 86, 131, 0.966);
}


/* meio */
main{ 
    background-color:rgba(51, 50, 50, 0.966);
    margin: auto;
    min-width: 320px;
    max-width: 900px;
    padding: 10px;
    border-radius: 10px;
}


/* título */
h1{ 
    text-align: center;
    color:rgba(43, 146, 206, 0.966);
   
}

h2{
    text-align: center;
    color:#7344be;
}

h3{
    color: #2868b1;
}

/* textos */
p{
    color:#ffffff;
    margin: 25px 45px 10px;
    text-indent: 20px;
    text-align: justify;
}

/* textos também */
.a{
    margin: 20px 55px 5px;
    color:#ffffff;
}

#t{
    color: rgb(116, 112, 112);
    
}

h4{
    color: rgb(145, 44, 44);
}

#lista{
    background-color:white;
    margin: auto;
    min-width: 320px;
    max-width: 900px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;

}

.navbar-list{
    height: 0;
    overflow: hidden;
    list-style-type: none;
    padding: 1px;
    border-radius: 1px;

}

.navbar-list li{
    display: inline;
}

.navbar-list--show-links{
    height: 25rem;
}

/* título */
.navbar-list li a{
    color:rgba(43, 146, 206, 0.966);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    padding: 15px;
    display: block;
    transition: background .3s;
}


/* cor do título quando você passa o cursos */
.navbar-list li a:hover{
    
    color: #52f3c3;
    font-weight: bolder;
    font-size: 24px;
    transition: background .3s;
  
}



.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-header__toogle {
    background: transparent;
    border: transparent;
    font-size: 3.2rem;
    color:rgb(255, 255, 255);
    cursor: pointer;
    transition: background .3s;
}

.navbar-header:hover {
        transform: scale(1.2);
}

@media screen and (min-width:200px){
    .botao__toogle {
        display: none;
    }

    .navbar-list{
        height: auto;
        
    }

    

    .navbar-list__link:hover {
        background: none;
        padding-left: 1.6rem;
        color:rgb(255, 255, 255);
        text-decoration: none;
    }

  




}


